@import "tailwindcss";

@layer utilities {
  .animate-ken-burns {
    animation: kenBurns 20s ease-out infinite alternate;
  }
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

@keyframes kenBurns {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/* ////////////Surprise letter/////////////// */

@layer utilities {
  .animate-float-up {
    animation: floatUp var(--duration) linear infinite;
    animation-delay: var(--delay);
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(100%) scale(0.5) rotate(0deg);
    opacity: 0;
  }
  20% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    transform: translateY(-1000%) scale(1.2) rotate(45deg);
    opacity: 0;
  }
}
